*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: #FFF;
}
html::-webkit-scrollbar-thumb{
    background: #FF0000;
}
body{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}

.navber .content{
    max-width: 1150px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navber{
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 5px 0;
    background: #fff;
    transition: all .3s ease;
    box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
}
.navber.actcve{
    padding: 25px 0;
    transition: all .3s ease;
}
.navber .content .logo img{
    width: 10%;
}
.navber .content .logo a{
    display: flex;
    align-items: center;
}
.navber .content .logo a .logo-text{
    padding: 0 10px;
}
.navber .content .logo a .logo-text h2{
    font-weight: 500;
    color: #393939;
    font-size: 22px;
}
.navber .content .logo a .logo-text p{
    font-weight: 500;
    color: #393939;
    font-size: 10px;
}
.navber .content .menu-lier{
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 200px;
    height: 100vh;
    margin-top: 0;
    padding: 30px 40px;
    text-align: left;
    transition: all .3s ease;
    background: #fff;
    border-top: 1px solid #FF0000 ;
}
.navber .content .menu-lier.sticve{
    right: 0%;
}
.navber .content .menu-lier li{
    margin-top: 45px;
}
.navber .content .menu-lier li a{
    font-weight: 400;
    font-size: 18px;
    transition: all .3s ease;
}
.navber .content .menu-lier li a:hover{
    color: #FF0000;
    transition: all .3s ease;
}
.icon{
    font-size: 21px;
    color: #000;
    cursor: pointer;
}
.icon.cancel-ber{
    position: absolute;
    top: 20px;
    right: 30px;
}
.icon.hide{
    display: none;
}




.container{
    width: 100%;
}
.container .wrapper{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .wrapper .all-images{
    display: flex;
    height: 80vh;
}
.container .wrapper .sall-images{
    display: flex;
    flex-direction: column;
}
.container .wrapper .sall-images img{
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
}
.container .wrapper .sall-images img:hover{
    opacity: 1;
}

.min-tilems{
    width: 630px;
    max-width: 100%;
    margin: 40px 20px 0 20px;
}
 .min-tilems h6{
    font-size: 15px;
    padding: 45px 0 10px 0;
    color: rgba(0, 0, 0, 0.75);
}
 .min-tilems .py-3{
    position: relative;
    font-size: 35px;
    font-weight: 800;
    margin: 1rem 0;
}
 .min-tilems .py-3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 80px;
    background: #FF0000;
}
 .min-tilems h2{
    font-size: 25px;
    color: #FF0000;
    padding: 5px 0 0 0;
    margin-bottom: 35px;
}
.min-tilems button{
    background: none;
    border: none;
    font-size: 15px;
    border: 1px solid #FF0000;
    color: #ff0000;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all .3s ease;
}
.min-tilems button:hover{
    background: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    transition: all .3s ease;
}
.min-tilems .button{
    background: none;
    font-size: 15px;
    border: 1px solid #FF0000;
    color: #ff0000;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all .3s ease;
}
.min-tilems .button:hover{
    background: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    transition: all .3s ease;
}
.min-tilems .text{
    display: flex;
    margin-top: 90px;
}
 .min-tilems .text .mt-4{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

.item{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.item h2{
    color: #FF0000;
    padding: 20px 0 15px 0;
    font-style: italic;
    font-size: 20px;
}
.item h3{
    font-weight: 400;
    padding: 0 0 15px 0;
    color: rgba(0, 0, 0, 0.75);
    font-size: 18px;
}
.item p{
    position: relative;
    padding-left: 15px;
    margin: 0 0 8px 0;
    color: rgba(0, 0, 0, 0.75);
    font-size: 17px;
}
.item p::before {
    border: 1px solid red;
    border-radius: 50%;
    content: '';
    display: block;
    height: 7px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 7px;
}

.modal{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
    width: 600px;
    height: 350px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.452);
}
.modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.modal-weader{
    padding: 10px 15px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-weader h1{
    font-size: 20px;
    font-weight: 800;
    margin-left: 136px;
}
.modal-weader .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
}
.modal__dialogw{
    width: auto;
    position: relative;
    display: flex;
}
.modal__dialogw img{
    width: 45%;
}
.modal__dialogw .into{
    margin-top: 60px;
    margin-left: 15px;
}
.modal__dialogw .into h1{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}
.modal__dialogw .into p{
    font-weight: 800;
    color: #FF0000;
    font-size: 25px;
    margin-bottom: 15px;
}
.modal__dialogw .button{
    display: flex;
}
.modal .modal__dialogw .button{
    width: 100%;
    margin: auto;
    margin-left: 0;
}
.modal .modal__dialogw a{
    background: none;
    font-size: 14px;
    border: 1px solid #FF0000;
    color: #ff0000;
    padding: 1rem 15px;
    border-radius: 5px;
    transition: all .3s ease;
    margin: 0 10px;
}
.modal .modal__dialogw a:hover{
    background: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    transition: all .3s ease;
}

#overlay{
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
}
#overlay.active{
    pointer-events: all;
    opacity: 1;
}


@media (max-width: 1050px){
    .min-tilems .text a{
        font-size: 15px;
        margin-left: 10px;
    }
    .item{
        max-width: 900px;
        padding: 1rem 2rem;
    }
}
@media (max-width: 900px){
    .container .wrapper{
        height: 185vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    .container .wrapper .sall-images img{
        height: 20vh;
    }
    .main-images img{
        width: 100%;
        height: 100%;
    }
    .min-tilems .text a{
        font-size: 18px;
        margin-left: 20px;
    }
}
@media (max-width: 650px){
    .modal{
        display: none;
    }
    .modall{
        display: none;
    }
}
@media (max-width: 586px){
    .container .wrapper{
        height: 190vh;
    }
    .container .wrapper .all-images{
        display: flex;
        flex-wrap: wrap;
    }
    .container .wrapper .sall-images{
        display: flex;
        flex-direction: initial;
        margin-left: 25px;
    }
    .min-tilems .text a{
        display: none;
    }
    .main-images{
        margin: auto;
    }
    .item{
        max-width: 400px;
    }
    .min-tilems .media{
        display: none;
    }
}
@media (max-width: 436px){
    .container .wrapper{
        height: 230vh;
    }
    .min-tilems{
        width: 330px;
    }
    .item{
        max-width: 400px;
        padding: 1rem 10px;
    }
    .container .wrapper .sall-images img{
        height: 16vh;
    }
}
@media (max-width: 378px){
    .container .wrapper .sall-images img{
        height: 14vh;
    }
    .item{
        max-width: 290px;
        padding: 1rem 0;
    }
}
@media (max-width: 320px){
    .container .wrapper .sall-images img{
        height: 14vh;
    }
    .main-images img{
        width: 310px;
    }
}