*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: #FFF;
}
html::-webkit-scrollbar-thumb{
    background: #FF0000;
}
body{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}

.navber .content{
    max-width: 1150px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navber{
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 5px 0;
    background: #fff;
    transition: all .3s ease;
    box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
}
.navber.actcve{
    padding: 25px 0;
    transition: all .3s ease;
}
.navber .content .logo img{
    width: 10%;
}
.navber .content .logo a{
    display: flex;
    align-items: center;
}
.navber .content .logo a .logo-text{
    padding: 0 10px;
}
.navber .content .logo a .logo-text h2{
    font-weight: 500;
    color: #393939;
    font-size: 22px;
}
.navber .content .logo a .logo-text p{
    font-weight: 500;
    color: #393939;
    font-size: 10px;
}
.navber .content .menu-lier{
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 200px;
    height: 100vh;
    margin-top: 0;
    padding: 30px 40px;
    text-align: left;
    transition: all .3s ease;
    background: #fff;
    border-top: 1px solid #FF0000 ;
}
.navber .content .menu-lier.sticve{
    right: 0%;
}
.navber .content .menu-lier li{
    margin-top: 45px;
}
.navber .content .menu-lier li a{
    font-weight: 400;
    font-size: 18px;
    transition: all .3s ease;
}
.navber .content .menu-lier li a:hover{
    color: #FF0000;
    transition: all .3s ease;
}
.icon{
    font-size: 21px;
    color: #000;
    cursor: pointer;
}
.icon.cancel-ber{
    position: absolute;
    top: 20px;
    right: 30px;
}
.icon.hide{
    display: none;
}




.container{
    width: 100%;
}
.container .wrapper{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .wrapper .all-images{
    display: flex;
    height: 80vh;
}
.container .wrapper .sall-images{
    display: flex;
    flex-direction: column;
}
.container .wrapper .sall-images img{
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
}
.container .wrapper .sall-images img:hover{
    opacity: 1;
}

.min-tilems{
    width: 630px;
    max-width: 100%;
    margin: 40px 20px 0 20px;
}
 .min-tilems h6{
    font-size: 15px;
    padding: 45px 0 10px 0;
    color: rgba(0, 0, 0, 0.75);
}
 .min-tilems .py-3{
    position: relative;
    font-size: 35px;
    font-weight: 800;
    margin: 1rem 0;
}
 .min-tilems .py-3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 80px;
    background: #FF0000;
}
 .min-tilems h2{
    font-size: 25px;
    color: #FF0000;
    padding: 5px 0 0 0;
    margin-bottom: 35px;
}
.min-tilems button{
    background: none;
    border: none;
    font-size: 15px;
    border: 1px solid #FF0000;
    color: #ff0000;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all .3s ease;
}
 .min-tilems button:hover{
    background: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    transition: all .3s ease;
}
.min-tilems .button{
    background: none;
    font-size: 15px;
    border: 1px solid #FF0000;
    color: #ff0000;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all .3s ease;
}
.min-tilems .button:hover{
    background: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    transition: all .3s ease;
}
.min-tilems .text{
    display: flex;
    margin-top: 90px;
}
 .min-tilems .text .mt-4{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

.item{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.item h2{
    color: #FF0000;
    padding: 20px 0 15px 0;
    font-style: italic;
    font-size: 20px;
}
.item h3{
    font-weight: 400;
    padding: 0 0 15px 0;
    color: rgba(0, 0, 0, 0.75);
    font-size: 18px;
}
.item p{
    position: relative;
    padding-left: 15px;
    margin: 0 0 8px 0;
    color: rgba(0, 0, 0, 0.75);
    font-size: 17px;
}
.item p::before {
    border: 1px solid red;
    border-radius: 50%;
    content: '';
    display: block;
    height: 7px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 7px;
}

.modal{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all .3s ease;
}
.modal.actvie{
    z-index: 999;
    pointer-events: auto;
    opacity: 1;
    top: 0;
}
.modal .modal-window{
    background: #fff;
    width: 800px;
    border-radius: 10px;
}
.modal .modal-header,
.modal .modal-body{
    margin: 2rem 2rem 2rem 2rem;
}
.modal .modal-footer{
    position: relative;
    bottom: 100px;
}
.modal .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal .modal-header .title{
    margin: auto;
    font-size: 20px;
}
.modal .modal-header .close{
    font-size: 3rem;
    cursor: pointer;
}
.modal__dialogw{
    width: auto;
    position: relative;
    display: flex;
}
.modal__dialogw img{
    width: 45%;
}
.modal__dialogw .into{
    margin-top: 60px;
    margin-left: 15px;
}
.modal__dialogw .into h1{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}
.modal__dialogw .into p{
    font-weight: 800;
    color: #FF0000;
    font-size: 25px;
    margin-bottom: 15px;
}
.modal-window .button{
    display: flex;
    justify-content: flex-end;
}
.modal .modal-window .button{
    width: 92%;
}
.modal .modal-window a{
    background: none;
    font-size: 14px;
    border: 1px solid #FF0000;
    color: #ff0000;
    padding: 1rem 15px;
    border-radius: 5px;
    transition: all .3s ease;
    margin: 0 5px;
}
.modal .modal-window a:hover{
    background: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    transition: all .3s ease;
}


footer{
    background: #FBECEC;
}
.footer{
    width: 1150px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
}
.footer .text{
    padding: 40px 15px;
    margin-right: 150px;
}
.footer .text h1{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #382626;
}
.footer .text p{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #38262680;
}    
.footer .text p i{
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
.footer .button{
    padding: 40px 15px;
}
.footer .button h1{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #382626;
}
.footer .button button{
    border: none;
    cursor: pointer;
    font-size: 19px;
    padding: 15px 35px;
    background: #FF0000;
    color: #fff;
    border-radius: 10px;
}

.modal__dialog{
    width: 700px;
    margin: auto;
    text-align: center;
    position: relative;
}
.modal__dialog .row100{
    position: relative;
    width: 100%;
    display: grid;
}
.modal__dialog .row100 .col{
    position: relative;
    width: 97%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.modal__dialog .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;   
    color: #999;
}
.modal__dialog .row100 .col .inputBox input{
    position: absolute;
    width: 97%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #fff;
    margin-left: -21.2rem;
}
.modal__dialog .row100 .col .inputBox .text_span{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.modal__dialog .row100 .inputBox input:focus + .text_span,
.modal__dialog .row100 .inputBox input:valid + .text_span{
    top: -35px;
    left: -10px;
}
.modal__dialog .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #ff0000;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.modal__dialog .row100 .inputBox input:focus ~ .line,
.modal__dialog .row100 .inputBox input:valid ~ .line{
    height: 100%;
}
.modal__dialog .row100 .cola input{
    border-radius: 10px;
    background: none;
    border: none;
    margin: 1rem 3rem;
    cursor: pointer;
    outline: none;
    border:  1px solid #ff0000;
    color: #ff0000;
    padding: 1rem 2rem;
    font-size: 15px;
    transition: all .3s ease;
}
.modal__dialog .row100 .cola input:hover{
    background: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    transition: all .3s ease;
}






@media (max-width: 1230px){
    .footer{
        width: 91%;
    }
    .footer .text{
        margin-right: 60px;
    }
}
@media (max-width: 1210px){
    .container .wrapper{
        height: auto;
    }
}
@media (max-width: 1050px){
    .min-tilems .text a{
        font-size: 15px;
        margin-left: 10px;
    }
    .item{
        max-width: -webkit-fill-available;
        padding: 1rem 2rem;
    }
}
@media (max-width: 900px){
    .container .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    .container .wrapper .sall-images img{
        height: 20vh;
    }
    .main-images img{
        width: 100%;
        height: 100%;
    }
    .min-tilems .text a{
        font-size: 18px;
        margin-left: 20px;
    }
    .footer{
        width: 91%;
    }
    .footer .text{
        margin-right: 60px;
    }
}
@media (max-width: 790px){
    .footer{
        width: 87%;
    }
    .modal .modal-window{
        width: 650px;
    }
    .modal .modal__dialog{
        width: 500px;
    }
    .modal .modal__dialog .row100 .col .inputBox input{
        margin-left: -14.8rem;
    }
}
@media (max-width: 650px){
    .modal{
        display: none;
    }
    .footer .button{
        display: none;
    }
    button{
        display: none;
    }
    .footer{
        width: 87%;
        display: block;
    }
}
@media (max-width: 615px){
    .footer{
        width: 70%;
    }
}
@media (max-width: 586px){
    .container .wrapper{
        height: auto;
    }
    .container .wrapper .all-images{
        display: flex;
        flex-wrap: wrap;
    }
    .container .wrapper .sall-images{
        display: flex;
        flex-direction: initial;
        margin-left: 15px;
    }
    .min-tilems .text a{
        display: none;
    }
    .main-images{
        margin: auto;
    }
    .item{
        max-width: -webkit-fill-available;
    }
    .min-tilems .media{
        display: none;
    }
}
@media (max-width: 436px){
    .container .wrapper{
        height: auto;
    }
    .min-tilems{
        width: 330px;
    }
    .item{
        padding: 1rem 10px;
    }
    .container .wrapper .sall-images img{
        height: 16vh;
    }
}
@media (max-width: 380px){
    .footer{
        display: block;
    }
    .footer .text h1{
        font-size: 25px;
    }
    .footer .text p{
        font-size: 18px;
    }
}
@media (max-width: 378px){
    .container .wrapper .sall-images img{
        height: 14vh;
    }
}
@media (max-width: 320px){
    .container .wrapper .sall-images img{
        height: 14vh;
    }
    .main-images img{
        width: 310px;
    }
}